body {
    background-image: url("../images/longs.jpg");
    background-size: cover;
}

#results {
    visibility: hidden;
}

.start {
    box-sizing: border-box;
    width: 300px;
    background-color: teal;
    border: 5px solid blue;
    padding: 50px 100px 50px 100px;
    font-size: 30px;
    text-align: center;
    margin: auto;
    margin-top: 150px;
    color: white;
}

.container {
    box-sizing: border-box;
    background-color: teal;
    width: 65%;
    margin: 0 auto;
    text-align: center;
    border: 5px solid blue;
    display: none;
}

#submit {
    padding: 10px;
    font-size: 12px;
    margin: 10px;
}

p {
    font-size: 24px;
    color: white
}

#input {
    font-size: 12px;
}

#results {
    box-sizing: border-box;
    width: 500px;
    background-color: teal;
    border: 5px solid blue;
    padding: 50px 100px 50px 100px;
    font-size: 30px;
    text-align: center;
    margin: auto;
    margin-top: 120px;
    color: white;
}